<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Options</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>

    <div class="container">
        <h1 class="title">hello<br><%=username%></h1>
        <h1 class="title">Payment Options</h1>
        <div class="button-container">
            
            <a href="search.html" class="button">To Pay</a>
            <a href="#" class="button">Self Pay</a>
            <a href="/user-balance" class="button">Check Balance</a>
            <a href="/user-history" class="button">History</a>
        </div>
    </div>

</body>
</html>
